@{
    ViewData["Title"] = "Ínicio";
}


<h2>Bem-vindo ao site da veterinária</h2>
<img src="~/assets/banner.jpg" style="width: 500px; height: 300px;"/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum erat ut tempus accumsan. Aliquam tempus sollicitudin ultricies. Sed vitae est tristique, dignissim risus id, tempor arcu. Aliquam dapibus dui vitae turpis interdum, vel auctor lectus semper. Proin laoreet diam dignissim tincidunt tempor. Integer ligula quam, interdum ut dolor a, aliquam rutrum velit. Morbi tempor ipsum vel volutpat accumsan.</p>