@{
    ViewData["Title"] = "Serviços";
}

<h2>Serviços</h2>
<ul>
    <li>Serviço 1
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
    </li>
    <li>Serviço 2
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
    </li>
    <li>Serviço 3
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
    </li>
</ul>